body {
    color: #474554;
}
.container {
    margin: 0px 200px 0px 200px;
}
.nav {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0px 70px 0px;
}

.nav .titulo {
    font: 400 50px Sansation, sans-serif;
}

a {
    color: #474554;
    transition: ease-in-out, .2s ease-in-out;
}

.voltarIcon {
    font-size: 28px;
}

/* COMEÇO DO PRIMEIRO CARD */


.elemento {
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    display: flex;
    flex-direction: row;

    min-height: 449px;
    margin-bottom: 40px;
}

.left-content {
    font-weight: bold;
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center
}

.left-content .top-left-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.left-content .imgCarro {
    max-height: 330px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left-content .retirebotao {
    width: 100%;
}

.left-content .retire {
    background-color: #4D54FF;
    color: #fff;
    font-size: 16px;
    padding: 4px 0px 4px 0px;
}

.left-content .alugarTexto:hover {
    transition: ease-in-out, .2s ease-in-out;
    background-color: #007400;
}

.left-content .alugarTexto {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    background-color: #42BE42;
    padding: 23px 33px 23px 33px;
    border-radius: 0px 0px 0px 8px;
    padding: 23px 33px 23px 33px;
}

.elemento .right-content {
    margin:  40px auto 40px auto;
    color: #474554;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elemento .right-content .top-content .nomeVeiculo p{
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 20px;
    min-width: 450px;
}

.elemento .nomeVeiculo {
    text-align: left;
}

/* .elemento .right-content .left-info,  */
.elemento .right-content .info
{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.elemento .right-content .tipoCambio,
.elemento .right-content .qtdPortas,
.elemento .right-content .cor,
.elemento .right-content .tipoCombustivel
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elemento .right-content .left-info {
    padding-right: 35px;
}

.elemento .right-content .info {
    font-size: 28px;

}

.elemento .right-content .info img {
    padding-right: 8px;
}

.elemento .right-content .bottom-content {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.elemento .right-content .tipoCambio, .elemento .right-content .cor {
    padding-bottom: 20px;
}


/* FIM DO PRIMEIRO CARD */

.descricao {
    padding: 20px 40px 40px 40px;
    margin-bottom: 70px;
    flex-direction: column;
    min-height: 100px;
}

.descricaoTexto {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 20px;
}

.listaDesc {
    font-weight: 500;
    font-size: 20px;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-row-gap: 30px;
    grid-column-gap: 40px;
    justify-content: center;
    text-align: center;
}

.confirm-container {
    display: none;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 25%);
    border-radius: 8px;
    padding: 40px 60px 80px 60px;
    z-index: 9;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.confirm-container form {
    display: flex;
    flex-direction: column;
    
}

.div-voltar {
    width: 100%;
    text-align: right;
    padding-bottom: 40px;
}

.titulo {
    font-weight: 700;
    padding-bottom: 8px;
}

.entrarCampos {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 6px 6px 10px rgb(0 0 0 / 25%);
}

.entrada {
    width: 314px;
    height: 50px;
    border-width: 0px;
    font: 400 14px Roboto, sans-serif;
}

.entrarBotao {
    margin-top: 32px;
    background-color: #42BE42;
    color: #fff;

    font-size: 16px;

    cursor: pointer;
    font-weight: 700;
}

.sair {
    cursor: pointer;
}

/* MENSAGEM */

.mensagem-container {
    width: 100%;
    height: 60px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    color: #fff;
    overflow:hidden;
    position: fixed;
    bottom: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.mensagem {
    font-size: 18px;
    font-weight: 800;

    margin-top: 0%;
}

#fechar {
    position: absolute;
    right: 0;
    padding-right: 30px;
    cursor: pointer;
    font-weight: 900;
    font-size: 28px;
}

.msg-aparecer {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: mensagem-aparecer;
    display: flex;
}

@keyframes mensagem-aparecer {
    from {
      margin-top: 100%;
      height: 0px; 
    }
  
    to {
      margin-top: 0%;
      height: 60px;
    }
}

.msg-sair {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: mensagem-sumir;
    display: flex;
}

@keyframes mensagem-sumir {
    from {
        margin-top: 0%;
        height: 60px;
        display: flex;
    }
  
    to {
        margin-top: 100%;
        height: 0px;
        display: none;

    }
}

/* MENSAGEM FIM */